<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Atualizar leitura</h1>
        </header>
       <section>
           <form action="/meta/<%=id%>/atualizar" method="post" class="registerAndEditMeta">
                <div>
                    <label for="total">Quantos livros você leu?</label>
                    <input type="number" name="lidos" min="1" placeholder="Numero de livros lidos">
                </div>
                <span class="btn-group">
                    <p><input type="submit" class="btn" value="Atualizar"></p>
                    <p><a class="btn" href="/">Voltar</a></p>
                </span>
           </form>
       </section>
    </div>
<%- include('partes/footer')%>  
