<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Cadastrar Nova Meta</h1>
        </header>
       <section>
           <form action="#" method="post" class="registerAndEditMeta">
                <div>
                    <input type="text" name="titulo" placeholder="Titulo da meta *" required>
                </div>
                <div>
                    <textarea id="description" name="description" placeholder="Descrição"></textarea>
                </div>
                <div class="total_prazo">
                    <div>
                        <label for="total">Total de livros * </label>
                        <input type="number" min="1" name="total_livros" placeholder="Total de Livros" required>
                    </div>
                    <div>
                        <label for="prazo">Prazo * </label>
                        <input type="date" name="prazo" placeholder="DD/MM/YYYY" required>
                    </div>
                </div>
                <div>
                    <p>* Campos obrigatórios</p>
                </div>
                <div class="btn-group">
                    <p><input type="submit" class="btn" value="Cadastrar"></p>
                </div>
           </form>
       </section>
    </div>
<%- include('partes/footer')%>  
