<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Nome da meta</h1>
            <h1><a href="/meta/editar">Editar Meta +</a></h1>
        </header>
        <section class="detalhes">
            <span class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    In enim rerum veniam. Harum iste earum nam, animi quis atque, 
                    debitis eius obcaecati eveniet, aspernatur incidunt 
                    doloribus repudiandae saepe praesentium nesciunt.
                </p>
            </span>
            <span class="meta">
                <p>Total de livros: 10</p>
                <p>Total de livros lidos: 5</p>
            </span>
            <span class="status">            
                <p>Status: em andamento</p>
                <p>Progresso: 20%</p>
            </span>
            <span class="prazo">
                <p>Prazo: 23/05/2022</p>
                <p><a class="btn" href="/meta/atualizar">Atualizar Meta</a></p>
            </span>
        </section>
    </div>
<%- include('partes/footer')%>  
