<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Lista de livros</h1>
            <h1><a href="/livro/cadastrar">Novo Livro +</a></h1>
        </header>
        <section>
            <% if(livros.length > 0) { %>
                <% for (livro of livros) { %>
                    <%- include('partes/article_livros')%>  
                <% } %>
            <% } else { %>
                    <p class="vazio">Nenhum livro cadastrado</p>
            <% } %>
        </section>
    </div>
<%- include('partes/footer')%>  
