<%- include('partes/head')%>  
    <%- include('partes/menuVisit')%>  
        <div class="container">
            <form action="/login" method="post">
                <h2>Login</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Logar" id="btn-authenticate">
            </form>
        </div>
<%- include('partes/footer')%>  
