<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,600;0,700;1,500&family=Reem+Kufi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <nav>
        <ul>
            <li><p>ReadingGoals</p></li>
            <li>  
                <span>
                    <a href="/login">Entrar</a>
                    <a href="/register" id="register">Registar</a>
                </span>
            </li>
        </ul>
      
    </nav>
    <div class="container">
        <div class="form">
            <form action="/login" method="post">
                <h2>Login</h2>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Logar" id="btn-login">
            </form>
        </div>
    </div>
    <footer>
        <p>Website desenvolvido por: <br> Priscila Yasmin da R. Zeferino</p>
    </footer>
</body>
</html>