<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Lista de metas</h1>
            <h1><a href="/meta">Nova Meta +</a></h1>
        </header>
        <section>
            <% if(metas.length > 0) { %>
                <% for (meta of metas) { %>
                    <%- include('partes/article_metas')%>  
                <% } %>
            <% } else { %>
                    <p class="vazio">Nenhuma meta cadastrada</p>
            <% } %>
        </section>
    </div>
<%- include('partes/footer')%>  
