<%- include('partes/headUser')%>  
    <%- include('partes/menuUser')%>  
    <div class="container">
        <header>
            <h1 class="title">Lista de metas</h1>
            <h1><a href="/meta">Nova Meta +</a></h1>
        </header>
        <section>
            <% for (meta of metas) { %>
                <%- include('partes/article_metas')%>  
            <% } %>
        </section>
    </div>
<%- include('partes/footer')%>  
