<%- include('partes/head')%>  
        <%- include('partes/menuUser')%> 
    <div class="container">
        <h1>404 NOT FOUND</h1>
        <p>Clique <a href="/">aqui</a> para voltar a pagina principal</p>
    </div>
<%- include('partes/footer')%>  
