<%- include('partes/head')%>  
    <%- include('partes/menuVisit')%>  
    <div class="container">
        <form action="/login" method="post">
            <h2>Registrar</h2>
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="submit" value="Registrar" id="btn-authenticate">
        </form>
    </div>
<%- include('partes/footer')%>  
