<article>
    <span>            
        <h1>Nome da Meta</h1>
        <h1 id="details"><a href="/meta/detalhes">Ver detalhes</a></h1>
    </span>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        In enim rerum veniam. Harum iste earum nam, animi quis atque, 
        debitis eius obcaecati eveniet, aspernatur incidunt 
        doloribus repudiandae saepe praesentium nesciunt.
    </p>
    <span>            
        <p>Progresso: 6/15</p>
        <p>Status: em andamento</p>
    </span>
</article>