<article>
    <span>            
        <h1><%=meta.title%></h1>
        <h1 id="details"><a href="/meta/<%=meta._id%>/detalhes">Ver detalhes</a></h1>
    </span>
    <p>
        <% if (meta.description) {%>
            <%=meta.description%>
        <% } %>
    </p>
    <span>            
        <p>Progresso: <%= Math.round((meta.read_books/meta.total_books)*100)%>%</p>
        <% if (meta.read_books >= meta.total_books) { %>
            <p>Status: concluída</p>
        <% } else { %>
            <p>Status: em andamento </p>
        <% } %>
    </span>
</article>

