<nav>
    <ul>
        <li class="logo"><p><a href="/login">ReadingGoals</a></p></li>
        <li>  
            <span>
                <a href="/login">Entrar</a>
                <a href="/register" id="register">Registar</a>
            </span>
        </li>
    </ul>
</nav>
