<nav>
    <ul>
        <li><p>ReadingGoals</p></li>
        <li>  
            <span>
                <a href="/login">Entrar</a>
                <a href="/register" id="register">Registar</a>
            </span>
        </li>
    </ul>
</nav>
