<nav>
    <ul>
        <li class="logo"><p><a href="/">ReadingGoals</a></p></li>
        <li>
            <span>
                <a href="/">Metas</a>
                <a href="/livro">Livros</a>
                <a href="/logout" id="login">Logout</a>
            </span>
        </li>
    </ul>
</nav>
